<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.qamarq.keepcards">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".DynamicColors"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KeepCards"
        tools:targetApi="31">
        <activity
            android:name=".RequestPermissionActivity"
            android:exported="false" />
        <activity
            android:name=".LaunchFloatingActivity"
            android:exported="false" />
        <activity
            android:name=".RequestFloatingActivity"
            android:exported="false" />
        <activity
            android:name=".AboutActivity"
            android:exported="false" />

        <service
            android:name=".DataLayerListenerService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />

                <data
                    android:host="*"
                    android:path="/data_path"
                    android:scheme="wear" />
            </intent-filter>
        </service>
        <service
            android:theme="@style/Theme.KeepCards"
            android:name=".FloatingCards"
            tools:ignore="Instantiatable" />
        <service
            android:name=".QuickAccessTileService"
            android:exported="true"
            android:icon="@drawable/ic_outline_style_24"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.google.assistant.appactions.widgets.pinappwidget.PinAppWidgetBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.assistant.appactions.widgets.COMPLETE_PIN_APP_WIDGET" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.assistant.appactions.widgets.pinappwidget.PinAppWidgetService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.assistant.appactions.widgets.PIN_APP_WIDGET" />
            </intent-filter>
        </service>

        <activity
            android:name=".ResetPasswordAcitvity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".ScannerActivity"
            android:exported="false" />

        <receiver
            android:name=".BarcodeWidget"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/barcode_widget_info" />
        </receiver>

        <activity
            android:name=".BarcodeWidgetConfigureActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ScanCardActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterFragment"
            android:exported="false" />
        <activity
            android:name=".LoginFragment"
            android:exported="false" />
        <activity
            android:name=".AddActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="keepcards-qamarq.firebaseapp.com"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/Theme.KeepCards">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>